@import 'modules/mixins';

.device-dom {
  &__wrapper {
    @include level(2);
  }

  &__title {
    font-weight: bold;
    position: absolute;
    top: -23px;
    left: 0;
  }

  &__edit {
    cursor: pointer;
    right: 30px;
    top: -28px;
    position: absolute;
    height: 24px !important;
    width: 24px !important;
  }

  &__delete {
    cursor: pointer;
    right: 0px;
    top: -28px;
    position: absolute;
    height: 24px !important;
    width: 24px !important;
  }
}
