.mix-checkbox {
  .checkbox {
    margin: 0;
  }

  .checkbox input[type='checkbox'] {
    margin-top: 7px;
    margin-left: 0;
  }
}

.mix-button-container {
  margin: 10px 0;

  .btn {
    margin-right: 10px;
  }
}

.mix-row {
  &--selected {
    background-color: #5c9bd155 !important;
  }
}

.mix-material-delete-btn {
  margin-top: 25px;
}

.mix-table {
  overflow: auto;
  max-height: 400px;
}
