.page-quick-sidebar-wrapper {
  .page-quick-sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  h3 {
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 18px;
  }
}

.page-quick-sidebar--schedules {
  .page-quick-sidebar-wrapper {
    width: 600px;
    right: -600px;
  }

  &.page-quick-sidebar-open {
    .page-quick-sidebar-wrapper {
      right: 0px;
    }
  }
}
