/**
 * Flexbox
 */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($value) {
  -webkit-flex-direction: $value;
  -moz-flex-direction:  $value;
  -ms-flex-direction:  $value;
  flex-direction:  $value;
}

/**
 * Card Levels
 */
@mixin level($level) {
  $shadow: none;

  @if $level == 1 {
    $shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  @if $level == 2 {
    $shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.22);
  }

  @if $level == 3 {
    $shadow: 0 8px 18px rgba(0,0,0,0.18), 0 6px 6px rgba(0,0,0,0.23);
  }

  @if $level == 4 {
    $shadow: 0 14px 28px rgba(0,0,0,0.26), 0 10px 10px rgba(0,0,0,0.22);
  }

  @if $level == 5 {
    $shadow: 0 19px 38px rgba(0,0,0,0.28), 0 15px 12px rgba(0,0,0,0.22);
  }

  -webkit-box-shadow: $shadow !important; // iOS <4.3 & Android <4.1
  box-shadow: $shadow !important;
}

/**
 * Form condensed
 */
@mixin form-condensed () {
  $gutter-width: $grid-gutter-width/4;

  .row,
  .form-group{
    margin: {
      left: -$gutter-width;
      right: -$gutter-width;
    };
  }

  [class^="col-"],
  [class*=" col-"] {
    padding: {
      left: $gutter-width;
      right: $gutter-width;
    };
  }
}