$bg-color:                #494546;

$btn-simple-color:        #444;
$btn-simple-bg:           #fff;
$btn-simple-border:       transparent;

$brand-main-color: 		  #f08a22;
$brand-main-font-color:	  #f4f4f4;

$grid-gutter-thin-width:  15px;

$header-bg-color:         #231F20;

$portlet-widget-width:    430px;

$theme-style:             'square';
$theme-type:              'default';